__pycache__
.venv
venv
.env.local
.env
devtools

benchmark_mcts.py
check_dataset.py
compare_checkpoints.py
diagnose_model.py
example_mcts_usage.py
fix_checkpoint_format.py
README.md
test_bot.py
test_material_eval.py
test_mcts_depth.py
test_mcts.py
train_openings.py